nav {
    font-family: var(--myFont);
    color: var(--slate);
    font: bold;
    padding: .3em;
    background: rgb(255, 255, 255);
    position: fixed top;
}

.nav-item{
    font-family: var(--myFont);
    color: var(--slate);
    font: bold;
}